{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}{% endblock %}</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apps/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'apps/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'apps/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'apps/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'apps/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'apps/assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{% static 'apps/assets/js/config.navbar-vertical.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'apps/assets/lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'apps/assets/css/theme.css' %}" rel="stylesheet">

    {% block custom_css %}{% endblock %}
</head>
<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container" data-layout="container">
        {% block main_content %}
        {% endblock %}
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'apps/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'apps/assets/js/popper.min.js' %}"></script>
<script src="{% static 'apps/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/@fortawesome/all.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/stickyfilljs/stickyfill.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/is_js/is.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/lodash/lodash.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet">
<script src="{% static 'apps/assets/js/theme.js' %}"></script>

{% block custom_js %}{% endblock %}
</body>

</html>